.info-container {
  background: #f2f2f2;
  width: 820px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  span {
    color: #0099ff;
  }

  p {
    margin: 0.5rem;
  }

  .basic-info {
    text-align: left;
  }

  .metrics {
    display: grid;
    text-align: left;

    .title {
      font-size: 1.15rem;
      font-weight: 800;
    }

    &-cpu {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &-memory {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &-io {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.logs-container {
  background: #222;
  color: #f8f8f8;
  width: 800px;
  height: 600px;
  margin: auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-y: scroll;
}
