<div class="container-item">
  <div class="container-info">
    <button class="btn btn-danger" (click)="onDeleteClick()">&times;</button>
    <p>
      <span>Name:</span> {{ container.names[0].replace('/', '') | shorten: 20 }}
    </p>
    <p><span>Image:</span> {{ container.image | shorten: 20 }}</p>
    <p><span>Status:</span> {{ container.status }}</p>
  </div>
  <div class="button-container">
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': container.state !== 'running' }"
      [disabled]="container.state === 'running'"
      (click)="onStartClick()"
    >
      Start
    </button>
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': container.state === 'running' }"
      [disabled]="container.state !== 'running'"
      (click)="onStopClick()"
    >
      Stop
    </button>
  </div>
  <div class="button-container">
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': container.state === 'running' }"
      [disabled]="container.state !== 'running'"
    >
      Stats
    </button>
    <button
      class="btn"
      [ngClass]="{ 'btn-primary': container.state === 'running' }"
      [disabled]="container.state !== 'running'"
    >
      Logs
    </button>
  </div>
</div>
